/* BreakEvenCalculator.css */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #6c6a6a;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 35%;
  }

  h1{
    color: white;
  }
  input {
    width: 150px;
    padding: 10px;
    margin: 5px 10px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  a {
    color: white;
    text-decoration: none;
  }
  